
@{
    ViewBag.Title = "Logout";
}

<h2 class="col-lg-6 col-lg-offset-3">You have been successfully logged out.</h2>
<br />
<br />
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <button class="btn btn-default col-lg-2 col-lg-offset-5" type="submit">Go Back To Home</button>
    
}
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

