@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web application was developed for Sprint 2 Evaluation under Capgemini Fresher Training.</p>

<h3>Contributors</h3>
<p>Abhishek Singh</p>
<p>Aman Balani</p>
<p>Harsh Namdeo</p>
<p>Krishna Pathak</p>
<p style="margin-bottom: 300px">Prashant Sengar</p>
