@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    LMS One Building<br />
    Bengaluru, KN<br />
    <abbr title="Phone">P:</abbr>
    7997812345
</address>

<address style="margin-bottom: 416px">
    <strong>Support:</strong>   <a href="mailto:amanktn@gmail.com">Mail Us!</a><br />
</address>