@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
@section head{
    <style type="text/css">
        body {
            background-image: url('/Content/image/laundry.png');
            margin: 0;
            background-repeat: no-repeat;
            background-size: cover;
            height: 720px;
            color: white
        }
    </style>
}

<h1 style="text-align:center; margin-top:100px;font-family:'Copperplate Gothic'; font-weight:600; color:floralwhite; font-size: 60px; text-shadow:2px 2px #000000">Dry Cleaning and Laundry To Your Door</h1>

<div style="margin-top:75px; background-color: #363636; color: white; padding:6px 20px 20px 20px;width:300px;box-shadow: 2px 2px grey;font-size:16px; height:150px;">
    <h3>@ViewBag.Count+ Happy Customers</h3>
    <p>
        With our top class services<br />
        you can leave all your laundry<br>
        stress to us
    </p>
</div>

<div style="margin-top:-150px; margin-left:420px; background-color: #363636; color: white; padding:6px 20px 20px 20px;width:308px;box-shadow: 2px 2px grey;font-size:16px; height:153px">
    <h3>Home Delivery</h3>
    <p>
        Get your laundry delivered to your<br />
        home hassle-free.
    </p>
</div>

<div style="margin-top:-150px;margin-bottom:60px ;margin-left:840px; background-color: #363636; color: white; padding:6px 20px 20px 20px;width:308px;box-shadow: 2px 2px grey;font-size:16px; height:153px">
    <h3>24-hour Customer Support</h3>
    <p>
        We'd love to hear from you<br />
        Tell us what we went wrong.
    </p>
</div>





<div class="row">
    @using (Html.BeginForm("Index", "Laundry"))
    {

        <input style="margin-left:4%"  class="btn btn-info btn-lg col-md-2" type="submit" value="Laundry Rates" />

    }
    @if (Session["loggedIn"] != null && Session["role"].ToString() == "\"user\"")
    {
        using (Html.BeginForm("Create", "Order", FormMethod.Get))
        {
              <input class="btn btn-info btn-lg col-md-2 col-md-offset-1" type="submit" value="Send Clothes" />
        }
        using (Html.BeginForm("EditAddress", "Customer"))
        {
            <input class="btn btn-info btn-lg col-md-2 col-md-offset-1" type="submit" value="Change Address" />
        }
        using (Html.BeginForm("TrackOrder", "Order"))
        {
            <input class="btn btn-info btn-lg col-md-2 col-md-offset-1" type="submit" value="Track Orders" />
        }
    }
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#myNav").removeClass("navbar-inverse")
            $("#myNav").addClass("navbar-default")
            $("#hamburger").css("color", "#777777")
        })
    </script>
}
